# Core
include README.md
include LICENSE.md
include pyproject.toml
include CHANGELOG.md
include CONTRIBUTING.md

# Include
recursive-include tests *.py
recursive-include examples *
recursive-include benchmarks *.py *.txt *.md

# Exclude
global-exclude *.py[cod] __pycache__/*
recursive-exclude htmlcov *
recursive-exclude .tox *
